// Color Palette
$white: #ffffff;
$black: #2E2E2E; 
$grey: #5C5C5C;
$yellow:#D4AF37;
$border-color: #e9e9e9;
$light-grey: #f6f6f6;


//Font Family
$font-family: "Inter", sans-serif;

// Font Size
$font: 10px;

// Font Weight
$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600; 
$font-weight-bold: 700;

// Margin
$mrg: 10px;

//Padding
$pad: 10px;

//gap
$gap: 10px;

// Border Radius
$bdr-rds-5: 5px;

// Media Query
$sm: 575px;
$md: 767px;
$lg: 991px;
$xl: 1199px;
$xxl: 1440px;
$xxxl: 1680px;